/* @import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Lato:400,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;700&display=swap');
/* 
  font-family: 'Dancing Script', cursive;
  font-family: 'Lato', sans-serif;
*/
/* :root {
  --default: #404c62;
  --blue: #5e72e4;
  --indigo: #5603ad;
  --purple: #8965e0;
  --pink: #f3a4b5;
} */

html{
  font-size: 12px;
}

body {
  margin: 0;
  color: #172b4d;
  /* background-color: #404c62; */
  font-family: 'Scheherazade New', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container-scroll.no-padding::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}
.container-scroll.no-padding::-webkit-scrollbar
{
  width: 0.5rem;
	background-color: transparent;
}
.container-scroll.no-padding::-webkit-scrollbar-thumb
{
	border-radius: 25px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #7A8B6F;
  /* background: linear-gradient(120deg, #927878 25%, #7A8B6F 50%, #8F8B51 100%); */
}

.App {
  text-align: center;
}

.App-container {
  max-width: 425px;
  /* min-height: 100vh; */
  margin: 0 auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-section{
  padding: 2.5rem 2.5rem;
  color: #172b4d;
}
.App-section.dark {
  background-color: #404c62;
}
.App-section.dark>div {
  padding: 1.5rem;
  background: #ffffff;
}
.App-section.light {
  background-color: #ffffff;
}
/* .App-section.light>div {
  color: #172b4d;
} */
.App-nav-bottom {
  min-width: 100%;
}
@media (min-width: 768px) {
  .App-nav-bottom {
    min-width: 425px
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttonloader {
  border: 3px solid #0E0A09;
  border-radius: 50%;
  border-top: 3px solid #99822A;
  width: 20px;
  height: 20px;
  /* margin: 0 auto; */
  display: inline-block;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}